.linkText {
    text-decoration: none;
    color: inherit;
}

.defaultAppBarContent {
    margin-top: 56px;
    padding: 8px;
}

@media screen and (min-width: 600px) {
    .defaultAppBarContent {
        margin-top: 64px;
    }
}

.accountMenuPolicy {
    font-size: 10px;
    text-decoration: none;
    color: gray;
    padding-right: 8px;
}

.accountMenuPolicyBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.accountMenuLogoutButton {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
    width: 100%;
    border-radius: 0;
}

.toppageHeaderText {
    display: flex;
    font-size: 25px;
    font-weight: 700;
    padding: 8px 16px;
}

.toppageAlertBox {
    margin: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.toppageDashboard {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 24px;
    padding: 8px;
    box-sizing: border-box;
    min-height: 250px;
}

@media screen and (min-width: 600px) {
    .toppageDashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

.dashboardCard {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboardCardContent {
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
}

.dashboardCardTitle {
    font-size: 18px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dashboardCardSubTitle +.dashboardCardTitle {
    padding-top: 0;
}

.dashboardCardSubTitle {
    padding-left: 16px;
    padding-top: 14px;
    font-size: 12px;
    line-height: 13px;
}

.cardBottomButton {
    font-size: 14px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    user-select: none;
}

.cardBottomButton:hover {
    background-color: var(--hover-color);
}

.listLabelsStack {
    display: inline-block;
    margin-right: auto;
}

.columnValues {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.scheduleCardColumn {
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 100px 1fr;
    cursor: pointer;
}

.scheduleCardColumn:hover {
    background-color: var(--hover-color);
}

.scheduleCardColumnTime {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.scheduleCardColumnTitle {
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    width: max-content;
    margin-right: 16px;
}

.tasksCardColumn {
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 100px 1fr;
    cursor: pointer;
    flex-grow: 1;
}

.tasksCardColumn:hover {
    background-color: var(--hover-color);
}

.tasksCardColumnDeadline {
    margin-left: auto;
    font-size: 12px;
}

<<<<<<< HEAD
.taskspageDashboard {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 24px;
    padding: 8px;
    box-sizing: border-box;
    min-height: 250px;
}
@media screen and (min-width: 600px) {
    .taskspageDashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

.TasksdashboardCardContent {
    max-height: max-content;
    overflow: hidden;
    overflow-y: auto;
}

=======
/*
 *  タスク詳細ページ
 */
.taskDetailPage {
    display: flex;
    flex-direction: column;
    height: calc(100svh - 64px - 8px);
}

.taskDetailPageContent {
    flex-grow: 1;
}

.scorePage {
    display: flex;
    flex-direction: column;
    height: calc(100svh - 64px - 8px);
}

.scoreCardColumn {
    height: 50px;
    padding: 8px 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    cursor: pointer;
}

.scoreCardColumnTitle {
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    width: max-content;
    margin-right: 16px;
}

.score_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 15px;
    font-size: 15px;
}

.redScore {
    color: red;
  }
  
>>>>>>> e25f9e3e76f501b00614d9b68428539a51cb5833
